<template>
    <div class="container">
        <div class="list-group">
            <div v-for="data in list" @click={} class="list-group-item">
                <h4 class="list-group-item-heading">{{ data.id }}</h4>
                <p class="list-group-item-text">{{ data.eth_hash }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        const self = this
        axios.get('/api/transation', {
            params: {
                page: 1,
            }
        })
        .then(res => {
            self.list = res.data.data.data
        })
    },

    data() {
        const base = {
            list: []
        }
        return base
    },
}
</script>
